<a href="https://colab.research.google.com/github/franklinokech/Get-Company-Details/blob/main/Get_Companies_Details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [2]:
table_companies = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_companies_of_Kenya',
    match='Notable companies',
)
print(f'Total tables: {len(table_companies)}')

Total tables: 1

In [3]:
# select table
df = table_companies[0]
df

                                    Name  ...                                              Notes
0                        98.4 Capital FM  ...                                              Radio
1                               ABC Bank  ...                                    Commercial bank
2        ALS – Aircraft Leasing Services  ...                                   Regional airline
3                     ARM Cement Limited  ...     Cement, fertilizers, minerals, mining, KN: ARM
4                         Bamburi Cement  ...                                   Cement, KN: BAMB
5                   Carbacid Investments  ...                           Carbon dioxide, KN: CARB
6               Chase Bank Kenya Limited  ...                                    Commercial bank
7                           CMC Aviation  ...                      Charter airline, defunct 2011
8              Commercial Bank of Africa  ...                                    Commercial bank
9             Consolidated Bank of Kenya  ...                                    Commercial bank
10              Cooper Motor Corporation  ...                                Automotive, KN: CMC
11             Cooperative Bank of Kenya  ...                          Commercial bank, KN: COOP
12                           Credit Bank  ...                                    Commercial bank
13                   CRI Nairobi 91.9 FM  ...                                      Radio station
14                          Dawa Limited  ...                             Pharmaceutical Company
15                       Del Monte Kenya  ...  Pineapple cultivation, part of Fresh Del Monte...
16             Development Bank of Kenya  ...                                    Commercial bank
17              Diamond Trust Bank Group  ...                             Banking group, KN: DTK
18                      Dubai Bank Kenya  ...                      Commercial bank, defunct 2015
19                East African Breweries  ...                                     Beer, KN: EABL
20         Equity Group Holdings Limited  ...                                           KN: EQTY
21                  Eveready East Africa  ...            Batteries, disposable shavers, KN: EVRD
22     Jubilee Insurance Company Limited  ...                                            KN: JUB
23                        Kakuzi Limited  ...                       Coffee, tea, fruit, KN: KUKZ
24                     KCB Group Limited  ...                      Banking, investments, KN: KCB
25                            KenolKobil  ...                                Petroleum, KN: KENO
26                         Kenya Airways  ...                             Flag airline, KN: KQNA
27  Kenya Electricity Generating Company  ...                   Electricity generation, KN: KEGN
28                         Mobius Motors  ...                                         Automotive
29          Mumias Sugar Company Limited  ...             Sugar estates and manufacture, KN: MSC
30                    Nation Media Group  ...  Newspapers, magazines, radio, television, KN: NMG
31              Olympia Capital Holdings  ...              Flooring, building materials, KN: OCH
32              Rea Vipingo Sisal Estate  ...                               Plantations, KN: REA
33                             Safaricom  ...                                            {{{6}}}
34                          Sameer Group  ...  High tech, agribusiness, manufacturing, transp...
35                 Sasini Tea and Coffee  ...        Tea, coffee, KN: SASN, part of Sameer Group
36                         Serena Hotels  ...  Tourism promotion services, hotels, resorts, K...
37                   Uchumi Supermarkets  ...                                           KN: UCHM
38                            Unga Group  ...                            Flour milling, KN: UNGA
39                         WPP-Scangroup  ...                              Advertising, KN: SCAN

[40 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          40 non-null     object
 1   Industry      40 non-null     object
 2   Sector        40 non-null     object
 3   Headquarters  40 non-null     object
 4   Founded       40 non-null     object
 5   Notes         40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB